In [3]:
x=5
y=8
print(x+y)

print(x^y)
print(x-y)
print(x&y)
print(x*y)
print(~(x*y))

13
13
-3
0
40
-41

In [15]:
print("Hello World")

Hello World

In [16]:
a=int(input("Enter Value of a \n"))
b=int(input("Enter Value of b \n"))
c=a+b
print("The sum is ",a+b)

The sum is  9

In [17]:
x=2
y=2.3
print(x+y)

4.3

In [18]:
x=2.3
y=2.3
print(x+y)

4.6

In [19]:
x=2
y="2"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
x="2"
y="3"
print(x+y)

23

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [21]:
x=2
y=bool(3)
print(x+y)

3

In [22]:
x="2"
y=bool(3)
print(x+y)

TypeError: can only concatenate str (not "bool") to str

In [23]:
x="2"
y=str(bool(3))
print(x+y)

2True

In [24]:
x="2"
y=str(complex(3))
print(x+y)

2(3+0j)

In [25]:
print("HELOOO")

HELOOO

In [26]:
print("HELLOOOOO")

HELLOOOOO

In [27]:
x=17
y=4
print(x*y)
print(x-y)
print("Division: ",x/y)
print("Floor Division: ",x//y)
print("Remainder: ",x%y)

68
13
Division:  4.25
Floor Division:  4
Remainder:  1

In [28]:
age1=20
age2=25
if(age1>age2):
    print("1 is older")

else:
    print("2 is older")

2 is older

In [29]:
score=95
if(score>=40):
    print("Passed")
elif(score==100):
    print("Perfect ")

Passed

In [30]:
x=5
x+=3
print(x)

8

In [31]:
a=10
a*=2
a%=7
print(a)

6

In [32]:
a=5
b=4
print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a>>1)

4
5
1
10
2

In [33]:
print(5**4)

625

In [35]:
list1 =[1,2,3,4,5]
print(list1[-1])
print(list1[0:3])
print(list1[0:5])

5
[1, 2, 3]
[1, 2, 3, 4, 5]